<!DOCTYPE html>
<html>
  <head>
    <title>Web development</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: rgb(0, 255, 0)
        text-align: center;
      }
      img{
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Jovian Careers</h1>
    <img src="static/download.jpg" alt="Jovian Careers">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum dolor id quam elementum ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</h2>
    <h2>Open positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact us</button>
  </body>
</html>